.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card-media-image {
  width: 100%;
    height: 276px;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shorter {
  height: 314px;
  width: 400px;
  position: relative;
  background-color: #fff;
}
.icon-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  bottom: 3px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
}
.vidicon {
  width: 34px;
  height: 34px;
  color: #3bf602;
  border: 1px solid black;
  border-radius: 17px;
  padding: 2px 4px 4px 8px;
  margin:10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container {
  width: 100%;
  height: auto;
  min-height: 600px;
  background-color: #31639c;
  padding:50px;
  margin: 0;

}
.navbar {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column
}
.centertext {
  text-align: center;
}
.home-container {
  display: flex;
  padding-top: 50px;
  width: 100%;
  justify-content: center;

}
.joinBtn {
  margin: 0 auto;
  background-color: #2fca77;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  width: 96%;
  margin-top: 10px;

}
a:hover {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.myroom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamWindow {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.waiting {
    justify-content: center;
    display: flex;
    margin-top: 125px;
}

#videoremote1 {
    padding-left: 0px;
    padding-right: 0;
}
.entry_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.entry_form input {

  width: 300px;
    height: 40px;
    margin: 5px;
    border: 1px solid #31639c;
    border-radius: 8px;
    padding: 10px;

}
.error {
  margin: 0;
  padding: 0px 0px 0px 7px;
  color: red;
  font-size: 12px
}